{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
    <form action="{% url 'login' %}" method="POST" class="w-50 auto border p-3 mx-auto mt-5 rounded-2">
        {% csrf_token %}

        <label for="">Username</label>
        <input type="text" name="user" class="form-control" id="">

        <label for="">Password</label>
        <input type="password" name="password" id="" class="form-control">

        <input type="submit" class="btn btn-outline-secondary w-100 mt-5">
    </form>
{% endblock content %}